.pay  h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    color: #ce1212;
}

.pay {
    margin-top: 50px;
}
  
.pay  .card {
    border: none;
}
  
.pay .card-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
  
.pay .form-floating {
    margin-bottom: 20px;
}
  
.pay .form-floating input {
    border-radius: 10px;
}
  
.pay .form-floating label {
    font-size: 14px;
}
  
.pay .btn-login {
    width: 100%;
}
  
.pay .btn-login:hover {
    background-color: #ce1212;
}

.pay .info-true {
    color: green;
    text-align: center;
}

.pay .info-false {
    color: red;
    text-align: center;
}
  
.pay .small {
    font-size: 15px;
}

.pay .link {
    margin-top: 0;
}

.pay .content-link {
    margin-left: 35%;
    margin-top: 20px;
}
  