.menu-items {
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-left: 10px;
  }
  
.menu-item {
    width: 30%; 
    margin-bottom: 20px; 
}

.menu-item img {
    width: 80%;
}

.menu-item div {
    margin-left: 100px;
}

.menu-item h4 {
    font-size: 22px;
}

.menu-item p {
    color: #ce1212;
    font-weight: bolder;
    font-size: 18px;
    margin-left: 30px;
}

h2 {
    text-align: center;
    color: #ce1212;
}
  
button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    padding: 0;
    margin: 0 10px; 
}

button:hover {
    color: #ce1212;
}

.button-group {
    margin-left: 35%;
}
  
.button-group button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    padding: 0;
    margin: 0 10px; 
}
  
.button-group button::after {
    content: "";
    display: block;
    height: 2px; 
    width: 0;
    background: #000; 
    position: absolute;
    bottom: -5px; 
    left: 0;
    transition: width 0.3s; 
}
  
.button-group button.active::after {
    width: 100%;
    background: #ce1212;
}

.button-group button.active {
    color: #ce1212;
}
  
  