.footer {
    font-size: 14px;
    background-color: #2a2a2b;
    padding: 20px 0;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
}

.footer .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
  }
  
.col-footer {
    width: 25%;
    margin: 0 10px;
    align-items: center;
}
  
.footer .icon-container {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}
  
.footer .icon {
    color: #ce1212;
    margin-left: 14px;
    margin-right: 15px;
    font-size: 24px;
    line-height: 0; 
}

.footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
    color: #fff;
    margin-bottom: 5px;
}

.footer .col-footer p {
    margin-top: 5px;
}

.footer .col-footer strong {
    color: #dad8d8;
}

.footer .footer-links {
    margin-bottom: 30px;
}
  
.footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
  
.footer .footer-links ul li:first-child {
    padding-top: 0;
}
  
.footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
  
.footer .footer-links ul a:hover {
    color: #fff;
}
  
.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
}
  
.footer .social-links a:hover {
    color: #fff;
    border-color: #fff;
}
  
.footer .copyright {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
  
.footer .credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
}
  
.footer .credits a {
    color: #fff;
}
  

@media (max-width: 767px) {
    .footer .container {
      text-align: center;
    }
  
    .footer .icon {
      margin-bottom: 10px;
    }
}

  
  
  
  
  
  